
<!DOCTYPE>
<html ng-app="ListaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista de Telefone</title>
	<!--<link rel="stylesheet" type="text/css" href="lib/bootstrap/js/bootstrap.js">-->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<style type="text/css">
		.jumbotron{
			width: 400px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin-top: 50px;

		}
		.table {
			margin-top: 20px; 
		}

		.form-control {
			margin-bottom: 5px;

		}

		.selecionado {
			background-color: yellow;
		}
		.checkbox-form {
			background-color: blue;
		}

	</style>

	<script src="lib/angular/angular.js"></script>
	<script>
		angular.module("ListaTelefonica" ,[]);
		angular.module("ListaTelefonica").controller("ListaTelefonicaCrtl", function($scope)
			{
				$scope.app = "Lista Telefônica";
				$scope.contatos = 
				[
					{nome: "Pedro", Telefone: "000002222"},
					{nome: "Ana", Telefone: "01892732434"},
					{nome: "João", Telefone: "9187231244"}

				];

				$scope.operadoras = 
				[
					{nome: "Oi", codigo: 14, categoria: "Celular"}, 	
					{nome: "Vivo", codigo: 15, categoria: "Celular"}, 
					{nome: "Tim", codigo: 41, categoria: "Celular"},
					{nome: "Embratel", codigo: 41, categoria: "Fixo"},
					{nome: "GVT", codigo: 41, categoria: "Fixo"}
				];

				//$scope.AdicionarContato = function(nome, Telefone){
				$scope.AdicionarContato = function(contato){

					//forma errada de se fazer inserção em um array 
					//$scope.contatos.push({nome: $scope.nome, Telefone: $scope.Telefone});

					//forma media de se fazer inserção em um array 
					//$scope.contatos.push({nome: nome, Telefone: Telefone});

					//forma correta de se fazer inserção em um array 
					$scope.contatos.push(angular.copy(contato));
					delete $scope.contato;
					$scope.contatoForm.$setPristine();
					//console.log($scope.nome);

				};

				$scope.classe = "selecionado";

				$scope.ApagarContatos = function(contatos){
					$scope.contatos = contatos.filter(function (contato){
						if (!contato.selecionado) return contato;
					});
				};

				$scope.isContatoSelecionado = function(contatos){
					var isContatoSelecionado = contatos.some(function (contato){
						return contato.selecionado;
					});
				};
			})
	</script>
</head>
<body ng-controller="ListaTelefonicaCrtl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		
		<table class="table">
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Operadora</th>
			</tr>
			<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
				<td><input type="checkbox" class="checkbox-form"  aria-label="Checkbox for following text input" name="checkbox-form" ng-model="contato.selecionado" /></td>
				<td>{{contato.nome}}</td>
				<td>{{contato.Telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
			</tr>
		</table>
		<hr/>
		<form name="contatoForm">
			<input class="form-control" type="text" placeholder="Nome" ng-model="contato.nome" name="nome" ng-required="true" />
			<input class="form-control" type="text" name="Telefone" placeholder="Telefone" ng-model="contato.Telefone"  ng-required="true" />
			<select  class="custom-select" ng-model="contato.operadora" s
			ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
				<option value="">Selecione uma operadora</option>
			</select >
		</form>
			<hr>
			<div ng-show="contatoForm.nome.$invalid && contatoForm.nome.$dirty" class="alert alert-danger">
				Por favor, preencha o nome!
			</div>
			<div ng-show="contatoForm.Telefone.$invalid && contatoForm.Telefone.$dirty" class="alert alert-danger">
				Por favor, preencha o telefone!
			</div>
			<button class="btn btn-primary" ng-click="AdicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
			<button class="btn btn-danger" ng-click="ApagarContatos(contatos)" ng-disabled ="isContatoSelecionado(contatos)">Apagar Contato</button>
		
	</div>
</body>
</html>